/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
/* ===================VARIABLES GLOBALES====================== */
/* ===================BODY====================== */
body {
  font-family: 'DM Serif Text', serif;
  overflow-x: hidden;
  margin: 0.7%; }
  body a {
    text-decoration: none; }

/* ===================MENU====================== */
#menu {
  /* VARIABLES LOCALES */
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #menu .navbar-brand {
    text-shadow: 0 0 8px black; }
  #menu li {
    text-transform: uppercase; }
    #menu li a {
      font-size: 18px;
      font-weight: bold;
      color: white; }
      #menu li a.active {
        color: rgba(156, 115, 197, 0.562);
        border-top-width: 2px;
        border-top-style: dotted;
        border-top-color: sienna;
        border-bottom-width: 2px;
        border-bottom-style: dotted;
        border-bottom-color: sienna; }

/* ===================CARD====================== */
.card {
  background-color: rgba(190, 95, 119, 0.253);
  align-items: center; }

.subRayado {
  text-shadow: 0 0 8px black;
  color: white; }
