/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
/* ===================MAPAS====================== */
/* ===================MIXINS====================== */
.boton, .boton--enviar, .boton--ver--mas {
  border-radius: 20px;
  border: 2px solid black;
  border-color: whitesmoke;
  font-size: 1.2rem; }

.boton--enviar {
  background-color: rgba(167, 45, 179, 0.459);
  padding: 1% 6%; }

.boton--ver--mas {
  background-color: rgba(43, 18, 63, 0.527);
  color: whitesmoke; }

/* ===================MAPAS====================== */
/* ===================MIXINS====================== */
/* ===================MENU====================== */
#menu {
  /* VARIABLES LOCALES */
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #menu .navbar-brand {
    text-shadow: 0 0 8px #ce7676; }
  #menu li {
    text-transform: uppercase;
    letter-spacing: 0.1em; }
    #menu li a {
      font-size: 18px;
      font-weight: bold;
      color: white; }
      #menu li a.active {
        color: rgba(156, 115, 197, 0.562);
        border-top-color: sienna;
        border-bottom-color: sienna;
        border-top-width: 2px;
        border-top-style: dotted;
        border-bottom-width: 2px;
        border-bottom-style: dotted; }

/* ===================MAPAS====================== */
/* ===================CARD====================== */
.card {
  background-color: rgba(255, 255, 255, 0.425);
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.icono--twitter {
  color: #8feeff;
  font-size: 2rem;
  padding: 4px; }

.icono--facebook {
  color: #978fff;
  font-size: 2rem;
  padding: 4px; }

.icono--instagram {
  color: #dc8fff;
  font-size: 2rem;
  padding: 4px; }

/* ===================BODY====================== */
body {
  font-family: 'DM Serif Text', serif;
  overflow-x: hidden;
  margin: 0.7%; }
  body a {
    text-decoration: none; }

.parrafoDeInformacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(235, 236, 236, 0.473);
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1.2rem; }
  .parrafoDeInformacion p {
    font-size: 2rem; }
  .parrafoDeInformacion li {
    font-size: 1.2rem; }

/* ===================SUBRAYADO====================== */
.subRayado, .parrafoDeInformacion p {
  text-shadow: 0 0 8px #ce7676;
  color: #9b358d; }

.borde--Transparente, #local {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
