

/* ===================MENU======================= */
h5, h2.card-title {
    text-align: center;
    font-size: 1.9rem;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(117, 117, 199),
        0 0 0.2em rgb(236, 159, 200);
    color: white;
    font-weight: bolder;
}


/* ===================SLIDER DE IMAGENES====================== */
.carousel-inner {
    max-height: 40rem;
}

/* ===================UBICACION Y HORARIOS====================== */
.mapa {
    display: flex;
    width: 100%;
}

#local, #servicios {
    background: #f3f3f3;
    display: flex;
    align-items: center;
}

.wrapper {
    margin-top: 5%;
    padding-top: 2%;
    padding-right: 1%;
    padding-bottom: 5%;
}


#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;

}

#numeros-local p {
    margin: 0;
}



.parrafoDeInformacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(235, 236, 236, 0.473);
    padding: 1rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}


@media (max-width:576px)  {



      html {
        height:100%;
      }
      
      body {
        margin:0;
      }
      
      .bg {
        animation:slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, pink 50%, rgba(190, 144, 175, 0.767) 50%);
        bottom:0;
        left:-50%;
        opacity:.5;
        position:fixed;
        right:-50%;
        top:0;
        z-index:-1;
      }
      
      .bg2 {
        animation-direction:alternate-reverse;
        animation-duration:4s;
      }
      
      .bg3 {
        animation-duration:5s;
      }
      
      @keyframes slide {
        0% {
          transform:translateX(-25%);
        }
        100% {
          transform:translateX(25%);
        }
      }

    }







