@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');


body {
    font-family: 'Hubballi', cursive;
    overflow-x: hidden;
    margin: 0.7%;
    background-color: #e08b8b80;
}
a {
    text-decoration: none;
}

/* ===================MENU======================= */
h5 {
    text-align: center;
    font-size: 1.9rem;

    text-shadow: 1px 1px 2px black, 0 0 1em rgb(117, 117, 199),
        0 0 0.2em rgb(236, 159, 200);
    color: white;
}

nav#menu {
    background-color: #f5f5f5;
    background-image: linear-gradient(to left, #d6868694, rgba(233, 108, 91, 0.781)) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#menu li>a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;

}

#menu form>button {
    font-size: 18px;
    font-weight: bold;
}


/* ===================CARD====================== */

.card {
    background-color: rgba(190, 95, 119, 0.253);
    align-items: center;
}

/* ===================SLIDER DE IMAGENES====================== */

.carousel-inner {
    max-height: 30rem;
}


/* ===================UBICACION Y HORARIOS====================== */

.mapa {
    display: flex;
    width: 100%;
}

#local, #servicios {
    background: #f3f3f3;

    display: flex;
    align-items: center;
}

.wrapper {

    margin-top: 5%;
    padding-top: 2%px;
    padding-right: 1%;
    padding-bottom: 5%;

}


#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;

}

#numeros-local p {
    margin: 0;
}


/* ===================MEDIA QUERIES====================== */

@media (min-width:1200px) {
    body {
        background-color: rgba(255, 2, 171, 0.226);
    }
    nav#menu {


        background-color: #f5f5f5;
        background-image: linear-gradient(to right, #e97be498, rgba(211, 137, 137, 0.363)) !important;
    }
/* 
    #local {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;

    } */
   
     h5 {
        font-size: 2rem;
    }
     .team > p{
        font-size: 1.3rem;
    }


}

@media (min-width:576px) and (max-width:1200px)  {
    nav#menu {


        background-color: #f5f5f5;
        background-image: linear-gradient(to right, #85c29c94, rgba(137, 211, 143, 0.363)) !important;
    }
    body {
        background-color: rgba(19, 255, 184, 0.11);

    }

    .icono-wrap {

        flex-wrap: wrap;
        justify-content: center;
    }
    .team p{
        font-size: 1.3rem;
    }
    h5 {
        font-size: 1.8rem;
    }
    #local {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;

    }
}


@media (max-width:576px) {
    body {
        background-color: rgba(202, 118, 165, 0.541);

    }
    nav#menu {


        background-color: #f5f5f5;
        background-image: linear-gradient(to left, #c57ece94, rgba(211, 119, 142, 0.671)) !important;
    }

    #local {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;

    }


    #intro, #equipo {
        width: 90% !important;
    }

    #equipo p {
        display: none;
    }
    
    .team p{
        font-size: 1rem;
    }
    h5 {
        font-size: 1.5rem;
    }
}
