@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');


body {
    font-family: 'Hubballi', cursive;
    overflow-x: hidden;
    margin: 0.7%;
    background-color: #e08b8b80;
}
a {
    text-decoration: none;
}

/* ===================MENU======================= */
h5 {
    text-align: center;
    font-size: 2rem;

    text-shadow: 1px 1px 2px black, 0 0 1em rgb(117, 117, 199),
        0 0 0.2em rgb(236, 159, 200);
    color: white;
}

nav#menu {
    background-color: #f5f5f5;
    background-image: linear-gradient(to left, #d6868694, rgba(233, 108, 91, 0.781)) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#menu li>a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;

}

#menu form>button {
    font-size: 18px;
    font-weight: bold;
}


/* ===================CARD====================== */

.card {
    background-color: rgba(190, 95, 119, 0.253);
}

/* ===================SLIDER DE IMAGENES====================== */

.carousel-inner {
    max-height: 30rem;
}


/* ===================UBICACION Y HORARIOS====================== */

.mapa {
    display: flex;
    width: 100%;
}

#local, #servicios {
    background: #f3f3f3;

    display: flex;
    align-items: center;
}

.wrapper {

    margin-top: 5%;
    padding-top: 2%px;
    padding-right: 1%;
    padding-bottom: 5%;

}


#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;

}

#numeros-local p {
    margin: 0;
}



/* ===================MEDIA QUERIES====================== */

@media (max-width:1200px) {
    body {
        background-color: rgba(237, 100, 168, 0.281);
    }

    #local {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;

    }

}


@media (max-width:768px) {
    body {
        background-color: rgba(231, 149, 149, 0.739);

    }



    #intro, #equipo {
        width: 90% !important;
    }

    #equipo p {
        display: none;
    }

}

@media (min-width:576px) {
    nav#menu {


        background-color: #f5f5f5;
        background-image: linear-gradient(to left, #eebebe94, rgba(170, 81, 103, 0.657)) !important;
    }

    .icono-wrap {

        flex-wrap: wrap;
        justify-content: center;
    }
}