@import "variables";
/* ===================CARD====================== */
.card {
  background-color: map-get($variablesGlobales,colorCard);
  align-items: center;
  box-shadow: $bordeTransparente;
  border-radius: $borde;
  img {
    border-radius: $borde;

  }
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}