@import "variables";
/* ===================CARD====================== */
.card {
  background-color: map-get($variablesGlobales,colorCard);
  align-items: center;
  box-shadow: $bordeTransparente;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}