@import "variables";
/* ===================CARD====================== */
.card {
  background-color: map-get($variablesGlobales,colorCard);
  align-items: center;
  box-shadow: $bordeTransparente;
  border-radius: $borde;
  img {
    border-radius: $borde;

  }

}
.card-text {
  font-size: 1.4rem;
  color: rgb(74, 19, 99);
  letter-spacing: 0.3px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
