@import "variables";
@import "mixins";

/* ===================MENU====================== */
#menu {
  /* VARIABLES LOCALES */
  $colorAnchors: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: $borde;
  box-shadow: $bordeTransparente;
  
  .navbar-brand {
    text-shadow: map-get($variablesGlobales,whiteShadow);
  }

  li {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    a {
      font-size: 1.6rem;
      font-weight: bold ;
      color: $colorAnchors;
      &.active {
        color: rgba(197, 115, 170, 0.801);
        @include subrayado--doble(rgb(160, 45, 108),rgb(160, 45, 89));      
      }
    }
  }
}

