/* ===================MAPAS====================== */
$variablesGlobales: ( /* Definicion de mapas de variables globales */
  whiteShadow: 0 0 8px rgb(206, 118, 118),
  colorCard: rgba(255, 255, 255, 0.425),
);

$redes: ( /* Definicion de mapas de redes sociales */
  twitter: rgb(143, 238, 255),
  facebook: rgb(151, 143, 255),
  instagram: rgb(220, 143, 255),
);

$bordeTransparente: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

$borde: 16px 16px 16px 16px;