/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import "variables";
@import "mixins";
@import "boton";
@import "menu";
@import "card";

@each $red, $color in $redes {
  .icono--#{$red}{
    color: $color;
    font-size: 2rem;
    padding: 4px;
  }
}

/* ===================BODY====================== */
body {
  font-family: 'DM Serif Text', serif;
  overflow-x: hidden;
  margin: 0.7%;
  a {
    text-decoration: none;
  }
}

/* ===================SUBRAYADO====================== */
.subRayado {
  text-shadow: map-get($variablesGlobales,whiteShadow);
  color: rgb(155, 53, 141);
}